body{
    font-family:"peignot",Arial, Helvetica, sans-serif;
   
}

header {
    display:flex;
    align-items: center;
    
}
h1 {
    font-size:5rem;
}
img {
    width: 100px;
    height: 100px;
    margin-left:0px;
    padding:10px;
}
a{
    text-decoration: none;
}
table{

    margin-left:auto ; 
    margin-right:auto;
    width:80%;
    border: 2px solid blue;
}

tr{
    text-align: left;
    border: 1px solid blue;
    
}
td{
    border: 1px solid blue;
}
